@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-copy: #333333;
    --color-primary: #ffc500;
    --default-paddimg: 1rem;
    color: var(--color-copy)
}

body {
    margin: 0;
    padding-top: 7.75rem;
}

header,
main,
footer {
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    
}


ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}


.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;

    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
    
    
    color: #ffffff;
    background-color: #000000;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    margin-right: 3rem;
    font-size: .875rem;
    text-transform: uppercase;
    
}

.navbar__links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.logo-studion {
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    font-size: 2.375rem;
}

.logo-studion_subtitle {
    font-size: .875rem;
    font-weight: 300;
    float: right;

    line-height: 1ch; /* Relativa ao tamanho da altura do grifo da fonte usada*/
}

.copy--primary {
    color: var(--color-primary);
}

#slider  {
   background-color: #000000;
   color: #ffffff;
   overflow:hidden;  
}

.slider h6 {
    margin: 0;
}

.slide {
    height: calc(100vh - 7.75rem);
    position: relative;
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    left: 50vw;
    top:6.25rem;
}

.slide__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    letter-spacing: .1875rem;
    text-transform: uppercase;
}

.slide__copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
}

.slide__copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    min-height: 3.125rem;
    border: .125rem solid #fff;
    background: unset;
    padding: 1.25rem 3.8rem;
    border-radius: 50px;
    color: var(--color-primary);
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus, 
.btn--institutional {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #ffffff;
}

#counter {
    background-color: var(--color-primary);
    color: #ffffff;
    text-transform: uppercase;
}

.counter__container {
    display: flex;
    padding: 4.375rem 1rem;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.counter__container h3 {
    font-size: 2.185rem;
}

.counter__container h3 small {
    display: block;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 1rem;
}

.institutional {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem; 
}

.institutional__copy {
    padding: 0 1.875rem;
}

.institutional__copy h6 {
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #333;
    margin: 0;
}

.institutional__image {
    max-width: 550px;
}

.institutional__copy h4 {
    font-size: 1.5625rem;
    margin-top: 1rem;
}

.institutional__copy p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.025rem;
    line-height: 1.6875rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
}

.btn--institutional:hover {
  color: var(--color-copy);
  border-color:  var(--color-primary);
  background: unset;
}


